* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Microsoft JhengHei';
  background: linear-gradient(#9d9d9d, rgba(157, 157, 157, 0.3), #9d9d9d, rgba(157, 157, 157, 0.3), #9d9d9d); }

section {
  padding-top: 25px;
  padding-bottom: 25px; }

.course-box {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }
  @media (max-width: 568px) {
    .course-box {
      margin-left: 10px;
      margin-right: 10px; } }
  .course-box h2 {
    font-size: 28px;
    padding-bottom: 5px;
    text-align: center; }
    @media (max-width: 568px) {
      .course-box h2 {
        font-size: 28px; } }
  .course-box hr {
    width: 5%;
    height: 3px;
    margin: 10px auto;
    background-color: #37761D; }
  .course-box ul {
    list-style: none;
    padding: 0; }
  .course-box .service-box {
    list-style: none;
    padding: 0;
    margin: 0; }
    .course-box .service-box a {
      color: #37761D; }
      .course-box .service-box a img {
        width: 100%;
        margin-left: 10px; }
        .course-box .service-box a img:hover {
          transition: all 0.5s;
          opacity: 0.6; }
    .course-box .service-box hr {
      width: 100%;
      height: 0px;
      margin: 10px 0; }
    .course-box .service-box .service-author {
      padding-bottom: 8px;
      font-size: 15px; }
    .course-box .service-box .text-muted {
      font-size: 15px;
      text-align: left;
      padding-right: 20px; }
  .course-box .service-coach-course {
    padding: 0;
    margin: 0;
    list-style: none; }
    .course-box .service-coach-course a img {
      width: 100%;
      margin-left: 10px;
      margin-top: 18px; }
      .course-box .service-coach-course a img:hover {
        transition: all 0.5s;
        opacity: 0.6; }
    .course-box .service-coach-course h3 > a {
      color: #37761D; }
    .course-box .service-coach-course ul {
      list-style-type: none; }
      .course-box .service-coach-course ul li {
        line-height: 24px;
        font-size: 15px;
        padding-right: 20px; }
        .course-box .service-coach-course ul li p {
          font-size: 50px; }
    .course-box .service-coach-course .btn-custom {
      display: inline-block;
      background-color: #37761D;
      border: 1px solid #37761D;
      border-radius: 20px;
      width: 90%;
      color: #fff;
      margin-top: 10px; }
      .course-box .service-coach-course .btn-custom:hover {
        transition: all 0.5s;
        opacity: 0.6; }
    .course-box .service-coach-course hr {
      width: 100%;
      height: 0px;
      margin: 10px 0; }
  .course-box .course-know-more {
    text-align: center; }
    .course-box .course-know-more a {
      display: inline-block;
      color: #37761D;
      padding: 5px 30px;
      margin-top: 20px; }
  .course-box .coach-choose img {
    width: 100%; }

.imform-top {
  padding: 5px; }
  .imform-top a img {
    border-radius: 5px;
    height: 300px;
    width: 100%; }
    .imform-top a img:hover {
      transition: all 0.5s;
      opacity: 0.6; }

.thumbnail {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }
  .thumbnail img {
    width: 100%; }
    .thumbnail img:hover {
      transition: all 0.5s;
      opacity: 0.6; }

.caption {
  display: block;
  text-align: center; }
  .caption h3 {
    font-weight: bold;
    padding-bottom: 15px; }
    .caption h3 > a {
      color: #37761D; }
  .caption ul {
    list-style: none;
    padding: 0; }
    .caption ul li {
      font-size: 15px;
      line-height: 1.6em; }
  .caption > a {
    width: 100%;
    border: 1px solid #37761D;
    border-radius: 50px;
    background-color: #37761D;
    margin: 20px 0; }
    .caption > a:hover {
      transition: all 0.5s;
      opacity: 0.6; }

.carousel {
  border-bottom: 1px solid gray; }
  .carousel .carousel-indicators li {
    border: 1px solid gray; }
  .carousel .carousel-inner .item {
    min-height: 300px; }
    .carousel .carousel-inner .item img {
      margin: 0 auto;
      width: 100%;
      min-height: 350px; }
