// this is reset
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Microsoft JhengHei';
    background: linear-gradient(rgba(157, 157, 157, 1), rgba(157, 157, 157, 0.3), rgba(157, 157, 157, 1), rgba(157, 157, 157, 0.3), rgba(157, 157, 157, 1));
}

section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.course-box {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    @include l-phone {
        margin-left: 10px;
        margin-right: 10px;
    }
    h2 {
        font-size: 28px;
        padding-bottom: 5px;
        text-align: center;
        @include l-phone {
            font-size: 28px;
        }
    }
    hr {
        width: 5%;
        height: 3px;
        margin: 10px auto;
        background-color: $rqcolor;
    }
    > ul {
        list-style: none;
        padding: 0;
        li {
            .thumbnail {
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
                img {
                    width: 100%;
                    &:hover {
                        @include img-hover
                    }
                }
                .caption {
                    text-align: center;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
    .service-box {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
            color: $rqcolor;
            img {
                width: 100%;
                &:hover {
                    @include img-hover
                }
            }
        }
        hr {
            width: 100%;
            height: 0px;
            margin: 10px 0;
        }
        .service-author {
            padding-bottom: 8px;
            font-size: 15px;
        }
        .text-muted {
            font-size: 15px;
            text-align: left;
            padding-right: 20px;
        }
    }
    // 課程列表直式排列
    .service-coach-course {
        padding: 0;
        margin: 0;
        list-style: none;
        a {
            img {
                width: 100%;
                &:hover {
                    @include img-hover
                }
            }
        }
        h3 {
            > a {
                color: $rqcolor;
            }
        }
        ul {
            list-style-type: none;
            li {
                font-size: 15px;
                padding-right: 20px;
                p {
                    font-size: 50px;
                }
            }
        }
        .btn-custom {
            display: inline-block;
            background-color: $rqcolor;
            border: 1px solid $rqcolor;
            border-radius: 20px;
            width: 90%;
            color: #fff;
            margin-top: 10px;
            &:hover {
                @include img-hover
            }
        }
        hr {
            width: 100%;
            height: 0px;
            margin: 10px 0;
        }
    }
    .course-know-more {
        text-align: center;
        a {
            display: inline-block;
            color: $rqcolor;
            padding: 5px 30px;
            margin-top: 20px;
        }
    }
    //課程列表橫式排列
    .thumbnail {
        img {
            &:hover {
                @include img-hover
            }
        }
        .caption {
            display: block;
            h3 {
                text-align: center;
                font-weight: bold;
                padding-bottom: 15px;
            }
            ul {
                list-style: none;
                padding: 0;
                li {
                    font-size: 15px;
                    line-height: 1.6em;
                }
            }
            a {
                width: 100%;
                border: 1px solid $rqcolor;
                border-radius: 50px;
                background-color: $rqcolor;
                margin: 20px 0;
                &:hover {
                    @include img-hover
                }
            }
        }
    }
    .coach-choose {
        img {
            width: 100%;
        }
    }
}

.carousel {
    border-bottom: 1px solid gray;
    .carousel-indicators {
        li {
            border: 1px solid gray;
        }
    }
    .carousel-inner {
        .item {
            img {
                margin: 0 auto;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.section-article {
    width: 49%;
    float: left;
    @media (max-width:990px) {
        width: 100%;
    }
}

.section-course {
    width: 49%;
    float: right;
    @media (max-width:990px) {
        width: 100%;
    }
}


/*
.my-course-card {
    margin-top: 20px;
    padding-top: 1px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.95);
    h3 {
        font-size: 32px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        text-shadow: 2px 2px 5px gray;
        a {
            color: #37761d;
        }
        @include ipad {
            font-size: 26px;
        }
    }
    center {
        a {
            margin-top: 10px;
            margin-bottom: 30px;
            margin-right: 5px;
        }
        .btn-pay {
            background-color: #37761D;
            &:hover {
                background-color: #4a9f27;
                border: 1px solid #4a9f27;
            }
        }
    }
}

.card-inform {
    border-radius: 30px;
    min-height: 250px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    .card-status {
        display: inline-block;
        background-color: #4da529;
        padding: 5px 10px;
        border-radius: 10px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        > a {
            font-size: 24px;
            font-weight: bold;
            color: #fff;
        }
    }
}

// coach's background-image


.second-lesson {
    background-image: url(../img/hankcoach.jpg);
    height: 200px;
    @include bg-image
}

.third-lesson {
    background-image: url(../img/wenyen2.jpg);
    height: 200px;
    @include bg-image
}

.forth-lesson {
    background-image: url(../img/coachS_Mona.jpg);
    height: 200px;
    @include bg-image
}

.course-list {
    list-style: none;
    margin-top: 5px;
    padding-right: 30px;
    > li {
        > ul {
            > li {
                display: inline-block;
                padding-top: 10px;
                padding-bottom: 5px;
                border-bottom: 1px solid #D5D8DC;
                font-size: 14px;
            }
        }
    }
}

.course-detail {
    list-style: none;
    font-size: 16px;
    li {
        padding: 3px 0;
    }
}

.course-default {
    line-height: 1em;
    padding-bottom: 20px;
}
*/
